<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Badminton Shop</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
<link rel="stylesheet" href="https://fonts.googleapis.com">
<link rel="stylesheet" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="background-color: #f7f8f9">
	<div th:replace="~{web/header::header}"></div>
	<div class="small-container" style="padding: 70px 0px;">
		<main id="maincontent" class="page-main">			
			<div class="columns">							
					<article class="blog-posts-post blog-post">
						<header class="blog-post-header">
							<p class="blog-post-date">
								<a href="https://www.yonex.com/news/badminton/"
									title="Badminton">Badminton</a> and <a
									href="https://www.yonex.com/news/popular/" title="Popular">Popular</a>
								<span>- August 17, 2023</span>
							</p>
							<h1 class="blog-post-title">POWER CUSHION 65 Z C-90: Where
								Sustainability Meets High Performance</h1>
						</header>
						<div class="blog-post-featured-image-wrapper-full-width">
							<div class="blog-post-featured-image-wrapper">

								<picture>
								<source
									srcset="https://www.yonex.com/media/wysiwyg/news/badminton/news_230818_960x600.jpg"
									media="(max-width: 768px)">
								<img class="blog-post-featured-image"
									src="https://www.yonex.com/media/wysiwyg/news/badminton/news_230818_960x600.jpg"
									title="" alt=""> </picture>
							</div>
							<div class="blog-post-featured-image-title"></div>
						</div>
						<div class="blog-post-content">
							<div class="blog-posts__sharethis__container">
								<span class="st_facebook"
									st_url="https://www.yonex.com/news/power-cushion-65-z-c-90-where-sustainability-meets-high-performance/"
									st_title="POWER CUSHION 65 Z C-90:  Where Sustainability Meets High Performance"
									st_processed="yes"><span
									style="text-decoration: none; color: rgb(0, 0, 0); display: inline-block; cursor: pointer; padding-left: 0px; padding-right: 0px; width: 16px;"
									class="stButton"><span class="chicklets facebook">&nbsp;</span></span></span>
								<span class="st_twitter"
									st_url="https://www.yonex.com/news/power-cushion-65-z-c-90-where-sustainability-meets-high-performance/"
									st_title="POWER CUSHION 65 Z C-90:  Where Sustainability Meets High Performance"
									st_processed="yes"><span
									style="text-decoration: none; color: rgb(0, 0, 0); display: inline-block; cursor: pointer; padding-left: 0px; padding-right: 0px; width: 16px;"
									class="stButton"><span class="chicklets twitter">&nbsp;</span></span></span>
								<span class="st_email"
									st_url="https://www.yonex.com/news/power-cushion-65-z-c-90-where-sustainability-meets-high-performance/"
									st_title="POWER CUSHION 65 Z C-90:  Where Sustainability Meets High Performance"
									st_processed="yes"><span
									style="text-decoration: none; color: rgb(0, 0, 0); display: inline-block; cursor: pointer; padding-left: 0px; padding-right: 0px; width: 16px;"
									class="stButton"><span class="chicklets email">&nbsp;</span></span></span>
							</div>
							<style>
#html-body [data-pb-style=PSFPXRT] {
	justify-content: flex-start;
	display: flex;
	flex-direction: column;
	background-position: left top;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll
}
</style>
							<div data-content-type="row" data-appearance="contained"
								data-element="main">
								<div data-enable-parallax="0" data-parallax-speed="0.5"
									data-background-images="{}" data-background-type="image"
									data-video-loop="true" data-video-play-only-visible="true"
									data-video-lazy-load="true" data-video-fallback-src=""
									data-element="inner" data-pb-style="PSFPXRT">
									<div data-content-type="text" data-appearance="default"
										data-element="main">
										<p>
											<strong>TOKYO, Japan</strong>&nbsp;–Since its initial debut
											in 2001, the globally acclaimed POWER CUSHION 65 series has
											captured the hearts of countless players as Yonex’s
											all-around badminton shoes.
										</p>
										<p>&nbsp;</p>
										<p>As the iconic design of POWER CUSHION 65 series
											evolved, the challenge was to combine maintained shoe
											effectiveness with enhanced sustainability. In 2015, Yonex
											discovered the soft, eco-friendly “ECOPET” material and later
											implemented it in the shoe designs. Multiple prototypes were
											crafted to create the series’ greener innovation. Today,
											Yonex achieves the increased use of eco-friendly material in
											the series with the new limited-edition release – POWER
											CUSHION 65 Z C-90. This one-time production exclusive model
											will be available in stores from September 2023.&nbsp;</p>
										<p>&nbsp;</p>
										<p>The POWER CUSHION 65 Z C-90 embodies a fusion of
											eco-friendliness and performance. The limited design features
											the upper material crafted with synthetic leather that
											contains approximately 90% recycled polyester (*1). This
											updated design upholds the series’ iconic performance,
											providing support for fast and complex footwork. The “C” in
											the POWER CUSHION 65 Z C-90 represents “Celebration” of
											achieving the usage of 90% recycled polyester, and
											“Commitment” to continuing innovations that benefit the
											players and ensure sustainability for the future.&nbsp;</p>
										<p>&nbsp;</p>
										<p>
											The limited edition is set to be used by several athletes at
											the 2023 World Championships in Denmark, including World No.
											1(*2) <strong>Viktor Axelsen</strong> (DEN) and the 2023
											Indonesia Open Champion, <strong>Chen Yu Fei</strong> (CHN).
											The POWER CUSHION 65 Z C-90 will also be sported by <strong>Fajar
												Alfian</strong> (INA), the 2023 All England Open Doubles Champion, as
											well as <strong>Chiharu Shida</strong> and <strong>Nami
												Matsuyama</strong> (JPN), the two-time Indonesia Open Doubles
											Champions.
										</p>
										<p>&nbsp;</p>
										<p>Yonex upholds the commitment to crafting high-quality
											products, while also participating in sustainability through
											unique innovations, actively fostering environmental
											awareness within its community.&nbsp;&nbsp;</p>
										<p>&nbsp;</p>
										<p>&nbsp;</p>
										<p>(*1) 90% of upper surface area (normal POWER CUSHION
											65Z: approximately 70%).&nbsp;&nbsp;</p>
										<p>(*2) Ranking as of August 1, 2023.&nbsp;</p>
									</div>
								</div>
							</div>
						</div>
						<div class="blog-post-tags">
							<div class="blog-tags blog-tags-plain"></div>
						</div>
						<div class="blog-post-additional-content"></div>
						<div class="blog-post-share">
							<p class="blog-post-share-title">Share:</p>
							<div class="blog-post-share-content">
								<div class="container">
									<span class="st_facebook"
										st_url="https://www.yonex.com/news/power-cushion-65-z-c-90-where-sustainability-meets-high-performance/"
										st_title="POWER CUSHION 65 Z C-90:  Where Sustainability Meets High Performance"
										st_processed="yes"><span
										style="text-decoration: none; color: rgb(0, 0, 0); display: inline-block; cursor: pointer; padding-left: 0px; padding-right: 0px; width: 16px;"
										class="stButton"><span class="chicklets facebook">&nbsp;</span></span></span>
									<span class="st_twitter"
										st_url="https://www.yonex.com/news/power-cushion-65-z-c-90-where-sustainability-meets-high-performance/"
										st_title="POWER CUSHION 65 Z C-90:  Where Sustainability Meets High Performance"
										st_processed="yes"><span
										style="text-decoration: none; color: rgb(0, 0, 0); display: inline-block; cursor: pointer; padding-left: 0px; padding-right: 0px; width: 16px;"
										class="stButton"><span class="chicklets twitter">&nbsp;</span></span></span>
									<span class="st_email"
										st_url="https://www.yonex.com/news/power-cushion-65-z-c-90-where-sustainability-meets-high-performance/"
										st_title="POWER CUSHION 65 Z C-90:  Where Sustainability Meets High Performance"
										st_processed="yes"><span
										style="text-decoration: none; color: rgb(0, 0, 0); display: inline-block; cursor: pointer; padding-left: 0px; padding-right: 0px; width: 16px;"
										class="stButton"><span class="chicklets email">&nbsp;</span></span></span>
								</div>
							</div>
						</div>
						
						<div class="top">
							<a href="#" title="To top of the page"></a>
						</div>
					</article>
				</div>
			</div>
		</main>
	</div>

	<th:block th:replace="~{web/footer::footer}">
	</th:block>

</body>
</html>